html
  html lang="en"
    head
      meta name="viewport" content="width=device-width, initial-scale=1"
      meta charset="UTF-8"
      title Example of Twitter Bootstrap 3 Carousel

      link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
      link  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
      script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
      script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"

      link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'
      link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'
      link rel="stylesheet" type="text/css" href="site.css" media="screen"
      link rel="stylesheet" type="text/css" href="print.css" media="print"


    body


      div id="myCarousel" class="carousel slide container-fluid" data-interval="2000" data-ride="carousel"
        div class="carousel-inner"
          
          div class="active item"
            h2 = image_tag "31.jpeg"
            div class="carousel-caption"
              h3  Wir sind kleine Hausteire.
              p   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              
          div class="item"
            h2  = image_tag "32.jpeg"
            div class="carousel-caption"
              h3  Mein name ist Anna und das ist Johan.
              p   Aliquam sit amet gravida nibh, facilisis gravida odio.
              
          div class="item"
            h2  = image_tag "1.jpeg"
            div class="carousel-caption"
              h3  Sagen sie Hola!
              p   Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                
        
        div class="put"
          ul class="list-inline"
            li class="span2" data-target="#myCarousel" data-slide-to="0"
              a class="thumbnail" id="carousel-selector-0" 
                = image_tag "31.jpeg" 
            li  class="span2" data-target="#myCarousel" data-slide-to="1"
              a class="thumbnail" id="carousel-selector-0"
                = image_tag "32.jpeg" 
            li class="span2" data-target="#myCarousel" data-slide-to="2"
              a class="thumbnail" id="carousel-selector-0"
                = image_tag "1.jpeg" 
      
    

        a class="carousel-control left" href="#myCarousel" data-slide="prev"
          span class="glyphicon glyphicon-chevron-left"
        a class="carousel-control right" href="#myCarousel" data-slide="next"
          span class="glyphicon glyphicon-chevron-right"
    

      div class="loremipsum"
        div id="left" class="col-sm-6"
          h5 class="one"  One
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum tellus ut urna fermentum, eu tincidunt erat egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis vulputate lectus fermentum urna vestibulum lacinia. Donec eleifend, odio vitae auctor porta, tortor dolor dignissim massa, quis pellentesque magna tellus sit amet sapien. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ut lorem sapien. Cras et vestibulum enim, et pharetra leo. Duis tristique faucibus imperdiet.Nullam nisl nulla, interdum at tellus eu, porta vehicula lacus. Proin luctus lectus sem, nec tincidunt nisi tempor id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin et nisi felis. Praesent aliquet mollis ornare. Nam eget arcu et diam feugiat vulputate in a diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis vulputate lectus fermentum urna vestibulum lacinia. Donec eleifend, odio vitae auctor porta, tortor dolor dignissim massa.
            
   
        div id="rightone" class="col-sm-6"
          h4 class="two"  Two
          p 
            | Nulla quis dignissim ligula, at faucibus mauris. Duis in pharetra purus. Suspendisse potenti. Duis dui erat, bibendum id cursus quis, tincidunt a tellus. Sed egestas venenatis vestibulum. Integer ac orci eget tellus accumsan faucibus a quis sem. Nulla facilisi. Suspendisse mollis arcu quis justo vulputate, id rhoncus mauris accumsan. 
    

        div id ="righttwo" class="col-sm-6"
          h4 class="three"  Three
          p
            | Integer quis laoreet orci. In a porttitor mauris. Suspendisse malesuada elit in dui euismod auctor. Ut eu nisi neque. Phasellus rutrum eu magna rutrum euismod. Maecenas blandit, leo quis tristique euismod, ante turpis imperdiet ante, dignissim pharetra leo orci sed magna. Vestibulum et ligula quis neque auctor adipiscing. Sed tristique elit dui, a blandit nulla porta laoreet. Pellentesque consectetur vulputate accumsan. 


      div class="faces"
        div class="muka"   
          img src= "https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" 
          p
            | Hello! They call me John Titor. I'm from the future! 2036, to be precise. 
          h6 About me: My milkshake brings all the boys to the yard, and they're like, its better than yours! Damn right, its better than yours! I could teach you, but I'd have to charge!
    

        div class="para"
          p
            | The man, who came to be known as John Titor, alleged to have travelled from 2036 by using a time machine installed in a 1987 Chevrolet.

          p
            | According to Titor, it was the first time machine of its kind, produced and built by multinational conglomerate GE (or General Electric) in 2034.

          p
            | “No bright flash of light is seen. Outside, the vehicle appears to accelerate as the light is bent around it,” he said of the experience. “Personally I think it looks like your driving under a rainbow. After that, it appears to fade to black and remains totally black until the unit is turned off. We are advised to keep the windows closed as a great deal of heat builds up outside the car.”

          p
            | It’s easy to palm it off as an elaborate hoax, but during the five months of John Titor’s online existence, he spent hours answering questions from believers and sceptics on (now defunct) public conspiracy forum Art Bell about the future, time travel and his own life, including eerie predictions that some internet types believe are coming true. Perhaps the most compelling argument revolves around the search for an IBM 5100 computer, mentioned by John in one of his first posts.
        
          p
            | “The first ‘leg’ of my trip was from 2036 to 1975. After two VGL checks, the divergence was estimated at about 2.5 per cent (from my 2036). I was ‘sent’ to get an IBM computer system called the 5100. It was one the first portable computers made and it has the ability to read the older IBM programming languages in addition to APL and Basic.”
                                        
      div class="faces2"

        div class="muka2"   
          img src= "https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" 
          p
            | Hello! They call me John Titor. I'm from the future! 2036, to be precise. 
          h6 About me: My milkshake brings all the boys to the yard, and they're like, its better than yours! Damn right, its better than yours! I could teach you, but I'd have to charge!

        div class="para2"
          p
            | The man, who came to be known as John Titor, alleged to have travelled from 2036 by using a time machine installed in a 1987 Chevrolet.

          p
            | According to Titor, it was the first time machine of its kind, produced and built by multinational conglomerate GE (or General Electric) in 2034.

          p
            | “No bright flash of light is seen. Outside, the vehicle appears to accelerate as the light is bent around it,” he said of the experience. “Personally I think it looks like your driving under a rainbow. After that, it appears to fade to black and remains totally black until the unit is turned off. We are advised to keep the windows closed as a great deal of heat builds up outside the car.”

          p
            | It’s easy to palm it off as an elaborate hoax, but during the five months of John Titor’s online existence, he spent hours answering questions from believers and sceptics on (now defunct) public conspiracy forum Art Bell about the future, time travel and his own life, including eerie predictions that some internet types believe are coming true. Perhaps the most compelling argument revolves around the search for an IBM 5100 computer, mentioned by John in one of his first posts.
        
          p
            | “The first ‘leg’ of my trip was from 2036 to 1975. After two VGL checks, the divergence was estimated at about 2.5 per cent (from my 2036). I was ‘sent’ to get an IBM computer system called the 5100. It was one the first portable computers made and it has the ability to read the older IBM programming languages in addition to APL and Basic.”
        
       
                                     