// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
    font-size: 15px;
    

.thumbnail {
    height: 75px;
    width: 75px;
    opacity: 0.5;
    display: block;
}

.list-inline {
    text-align: center;
    margin-top: 20px;
}


h6 {
    font-size: 15px;
}

.para, .para2, #rightone, #righttwo, #left {
    margin: auto;
    text-align: justify;
    padding: 20px;

}

.one, .two, .three {
    font-size: 20px;
    text-align: center;
}

#myCarousel {
    width: 100%;
    background-image: url("http://i.imgur.com/uLrWbwC.jpg");
    position: relative;
    background-attachment: fixed;
}

.loremipsum {
    width: 100%;
    background-image: url("http://i.imgur.com/PIJWrEi.jpg");
    color: #fbfbef;
    position: relative;
    background-attachment: fixed;
}

.faces {
    width: 100%;
    background-image: url("http://i.imgur.com/IuijDCu.png");
    position: relative;
    background-attachment: fixed;
    }

.faces2 {
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT37oK1uHEVZZlO2T-MvojxaZJNG8dT9drju0h2vhS9iEQ7EPn3");
    position: relative;
    background-attachment: fixed;
    }

.muka, .muka2 {
    margin: auto;
    text-align: center;
    padding: 20px;
    }

.carousel-inner{
    text-align: center;
}


a:hover {
    opacity: 1;
}




@media(min-width:1200px) {


a:hover {
    opacity: 1;
}

h2 { 
    color: #666;
    padding-top: 30px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
    align: center;
    }

.item {
    background: #333  ;
    text-align: center;
    height: 370px;
    }

.carousel {
    margin-top: 20px;
    }

#myCarousel {
    width: 100%;
    height: 600px;
    background-image: url("http://i.imgur.com/uLrWbwC.jpg");
    position: relative;
    background-attachment: fixed;
    }


.item {
    padding-right: 8px;
    }


.thumbnail {
    align: center;
    height: 150px;
    width: 150px;
    display: inline-block;
    }
    
#rightone  {
    float: right;
    text-align: justify;
    width: 400px;
    margin-right: 200px;
    margin-top: 50px;
    margin-left: -50px;
    border: 2px solid #f9cf36;
    border-radius: 25px;
    padding: 20px;
    }
    
#righttwo {
    float: right;
    text-align: justify;
    width: 400px;
    margin-right: 200px;
    margin-left: -50px;
    border: 2px solid #f9cf36;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    }
    
    
#left {
    width: 400px;
    margin-left: 150px;
    float: left;
    text-align: justify;
    margin-right: -50px;
    border: 2px solid #f9cf36;
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    }
    
    
.one {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    }

.loremipsum {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    width: 100%;
    height: 560px;
    background-image: url("http://i.imgur.com/PIJWrEi.jpg");
    color: #fbfbef;
    position: relative;
    background-attachment: fixed;
}


.two, .three {
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

.faces {
    width: 100%;
    height: 700px;
    background-image: url("http://i.imgur.com/IuijDCu.png");
    position: relative;
    background-attachment: fixed;
    }

    
.muka {
    margin-left: 150px;
    text-align: center;
    float: left;
    width: 400px;
    margin-top: 200px;
    border: 2px solid #08088a;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    }

.para {
    margin-right: 150px;
    text-align: center;
    width: 400px;
    padding: 20px;
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    text-align: justify;
    float: right;
    border: 2px solid #08088a;
    border-radius: 25px;
    }
    
    
.faces2 {
    width: 100%;
    height: 700px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT37oK1uHEVZZlO2T-MvojxaZJNG8dT9drju0h2vhS9iEQ7EPn3");
    position: relative;
    background-attachment: fixed;
    }

    
.muka2 {
    margin-right: 150px;
    text-align: center;
    float: right;
    width: 400px;
    margin-top: 200px;
    border: 2px solid #08088a;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    }

.para2 {
    margin-left: 150px;
    text-align: center;
    width: 400px;
    padding: 20px;
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    text-align: justify;
    float: left;
    border: 2px solid #08088a;
    border-radius: 25px;
    
    }


}
        
}